<%= render 'books/sidebar', user: @user, book: @book %>


<h2>Users</h2>

<table class="user-list">

  <thead>
    <tr class="thead">
      <th class="user-data">image</th>
      <th class="user-data">name</th>
      <th class="user-data"></th>
    </tr>
  </thead>

<tbody>
<% @users.each do |user| %>
<tr>
  <td>
<% if @user.plofile_image.attached? %>
  <%= image_tag @user.plofile_image, size: "100x100" %>
<% else %>
  <%= image_tag 'no_image', size: "100x100" %>
<% end %>
  </td>
  <td class="book-data"><%= user.name %></td>
   <td class="book-data"><%= link_to "Show", user_path(user.id) %></td>
</tr>
<% end %>
</tbody>

</table>