<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <header>
  <div class="collapse" id="navbarToggleExternalContent" data-bs-theme="dark">
  <div class="bg-dark p-4">
     <li>
      <h5 class="text-body-emphasis h4">
         <%= link_to "Bookers", root_path %>
      </h5>
     </li>
  </div>

  <nav class="navbar navbar-dark bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
     <li>
       <%= link_to "Home",  root_path %>
     </li>

    <% if user_signed_in? %>
      <li>
        <%= link_to "Users", users_path %>
     </li>
     <li>
        <%= link_to "Books", books_path %>
     </li>
      <li>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </li>

    <% else %>
      <li>
        <%= link_to "About", about_path %>
      </li>
      <li>
        <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li>
        <%= link_to "Log in", new_user_session_path %>
      </li>
    <% end %>
    </div>
    </nav>
  </div>
  </div>
  </header>


  <% flash.each do |key, message| %>
   <div class="alert alert-<%= bootstrap_class_for_flash(key) %>">
    <%= message %>
   </div>
  <% end %>

    <%= yield %>

    <footer>CopyRight Infratop.inc</footer>

  </body>

</html>
